{% extends "mbase.html" %}

{% block maincont %}
<div class="b-mc-maincont">
        <div class="b-mc-maincont-leftside">
            <div class="b-mc-maincont-leftside-tbl">
                <div class="b-mc-maincont-leftside-zag">Что такое экспертная система?</div>
                <div id="123" class="b-mc-maincont-leftside-txt">компьютерная система, способная частично заменить
                    специалиста-эксперта в разрешении проблемной ситуации. Современные экспертные системы начали
                    разрабатываться исследователями искусственного интеллекта в 1970-х годах, а в 1980-х годах получили
                    коммерческое подкрепление.
                </div>
                <div class="b-mc-maincont-leftside-close-comp">
                    <div class="b-mc-maincont-leftside-close"></div>
                    <div class="b-mc-maincont-leftside-close"></div>
                    <div class="b-mc-maincont-leftside-close"></div>
                </div>
            </div>
        </div>

        <div class="stick"></div>

        <div class="b-mc-maincont-rightside">
            <div class="b-mc-maincont-rightside-tbl">
                <div class="b-mc-maincont-rightside-tbl-txt">
                    Эта экспертная система представляет собой консультанта по выбору языка программирования и
                    алгоритма решения задачи. В предлагаемые языки включены: C++, Python, Scratch, Js, Swift, Java.
                    Среди алгоритмов предлагаются: циклический, разветвляющийся, линейный.
                </div>
                <div class="b-mc-maincont-rightside-tbl-logos">
                    <img src="../../static/images/cpp.png" width="148" height="148" class="pad">
                    <img src="../../static/images/python.png" width="148" height="148" class="pad">
                    <img src="../../static/images/js.png" width="148" height="148" class="pad">
                </div>
            </div>
        </div>
    </div>
    <div class="b-mc-grstick"></div>
{% endblock maincont %}